*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}

body{
    font-family:  "Poppins", sans-serif;
    background: linear-gradient(100deg,#662D8C , #ED1E79);
    min-height: 100vh;
    color: #fff;
}

.navigation {
    margin-top: 25px;
    font-family: var(--font1);
    /* height: 50px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    font-size: 20px;
    display: flex;
}

.nav-left span {
    font-size: 35px;
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 23px;

}

.nav-left ul li {
    list-style-type: none;
    margin: 0 14px;
    font-family: var(--font2);
    display: flex;
    transition: all 0.3s ease-in-out;
}

.nav-left ul li:hover {
    color: var(--main-bg-color);
    font-weight: bolder;
}

.nav-left ul li a {
    text-decoration: none;
    color: black;
    display: flex;
}

.content {
    height: 100%;
    /* background-color: #BFEAF5; */
    display: flex;
    margin-top: 32px;
    padding: 9px;

    position: relative;
}

.content::after {
    content: "";
    background-image: url("../img/2.svg/vecteezy_a-group-of-doctors-examining-the-lungs-affected-by-the_5611251_441/vecteezy_a-group-of-doctors-examining-the-lungs-affected-by-the_5611251.jpg");
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    border-radius: 12px;
}

.content-left {
    font-family: var(--font1);
    display: flex;
    /* width: 50%; */
    flex-direction: column;
    justify-content: center;
    padding: 49px;
    z-index: 1;


}

.content-right {
    display: flex;
    /* width: 50%; */
    align-items: center;
    justify-content: center;


}

.content-right img {
    height: 355px;
    border: 2px solid black;
    border-radius: 200px;
}

.home-articles {
    padding: 18px;
    background-color: #f594f0;
    margin-top: 23px;
    position: relative;
}

.year-box {
    position: absolute;
    width: 34px;
    height: 455px;
    background-color: #4d4b4a;
    right: 419px;
    top: 100px;
    width: 200px;
    height: 150px;
    font-size: 18px ;
}
.year-box div
{
    margin: 12px 0px;
}

.home-article {
    display: flex;
    margin: 25px;
}

.home-articles img {
    width: 200px;
}

.home-article-content {
    align-self: center;
    padding: 25px;
}

.home-article-content a {
    text-decoration: none;
    color: black
}

/*.home-articles{

}*/


.nav-right {
    font-size: 25px;
}


.footer {
    height: 50px;
    background-color: #0F3D3E;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    flex-direction: column;

}

.footer {
    color: black;
}